* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	background-color: #212121;
	color: #fff;
}

.main {
	text-align: center;
	width: 50%;
	min-height: 100vh;
	max-height: 100%;
	margin: auto;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 50px auto 50px;
	grid-template-rows: 50px auto 50px;
}

/* Header */

header {
	/* border: 1px dashed red; */
	display: flex;
	justify-content: end;
}

button {
	border: none;
	background-color: transparent;
	color: #fff;
	margin: 5px;
	padding: 10px;
	cursor: pointer;
}

button:hover {
	background-color: #61dafb;
	color: #212121;
}

/* wrapperQuote */

.wrapperQuote {
	/* border: #fff 1px solid; */
	padding: 10px 0;
	width: 450px;
	margin: 10px auto;
}

.quote {
	border-left: 3px solid #61dafb;
	margin: 10px auto;
	padding: 10px;
	width: 350px;
	text-align: justify;
}

.wrapperAuthor {
	/* border: #fff 1px dashed; */
	width: 80%;
	margin: auto;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
}

.author {
	/* border: #61dafb 1px dashed; */
	width: 350px;
	margin: auto;
	height: 50px;
	cursor: pointer;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	padding: 0 10px;
}

.author:hover {
	background-color: #61dafb;
	color: #212121;
}
.genre {
	/* border: #61dafb 1px solid; */
	padding: 0 5px;
	margin: 0 10px;
}
